<ul class="menu_open">
<li><a class="menu_item" href="/"><span class="menu_title">Startseite</span></a></li>
<li><a class="menu_item" href="/posts/"><span class="menu_title">Artikel</span></a></li>
<li><a class="menu_item" href="/dokumente/"><span class="menu_title">Dokumente</span></a></li>
<li><a class="menu_item" href="/programme/"><span class="menu_title">Programme</span></a>
<div class="subitem">
<ul class="menu_open">
  <li><a class="menu_item" href="https://gokrazy.github.io/"><span class="menu_title">gokrazy</span></a></li>
  <li><a class="menu_item" href="https://i3wm.org/"><span class="menu_title">i3</span></a></li>
  <li><a class="menu_item" href="https://robustirc.net/"><span class="menu_title">RobustIRC</span></a></li>
  <li><a class="menu_item" href="https://github.com/rtr7/router7/"><span class="menu_title">router7</span></a></li>
<li><a class="menu_item" href="https://www.x11vis.org/"><span class="menu_title">x11vis</span></a></li>
<li><a class="menu_item" href="/c128_kasse"><span class="menu_title">c128_kasse</span></a></li>
</ul>
</div>
</li>

<li><a class="menu_item" href="https://www.debian.org/"><span class="menu_title">Debian</span></a>
<div class="subitem">
<ul class="menu_open">
  <li><a class="menu_item" href="https://codesearch.debian.net/"><span class="menu_title">Debian Code Search</span></a></li>
  <li><a class="menu_item" href="https://manpages.debian.org/"><span class="menu_title">manpages.debian.org</span></a></li>
</ul>
</div>
</li>

<li><a class="menu_item" href="/talks"><span class="menu_title">Talks</span></a></li>

<li><a class="menu_item" href="/tipps"><span class="menu_title">Tipps</span></a></li>

<li><a class="menu_item" href="/meinepcs"><span class="menu_title">Hardware</span></a></li>
<li><a class="menu_item" href="/impressum"><span class="menu_title">Impressum</span></a></li></ul>

