  {{ range .GroupByDate "2006 › January" }}
  <h2>{{ .Key }}</h2>
  <ul class="ArticleList">
    {{ range .Pages.ByDate.Reverse }}
    <li>
      <div>
	<a href="{{ .Permalink }}"><h3>{{ .Title }}</h3></a>
	{{ if .Params.tags }}
	<div class="tags">
	  Tags:
	{{ range $idx, $tag := .Params.tags }}
	<span class="ms_tag"><a href="/posts/tags/{{ $tag | urlize }}/">{{ $tag }}</a></span>
	{{ end }}
	</div>
	{{ else }}
	<div class="tags"></div>
	{{ end }}
      </div>
      <div class="summary">
	{{ $featured := .Resources.Match "*featured*" }}
	{{ $imgs := $featured | append (.Resources.ByType "image") }}
	{{ $permalink := .Permalink }}
	{{ range first 1 $imgs }}
	{{ $img := .Fit "200x200" }}
	<a href="{{ $permalink }}" style="min-width: 200px; margin-right: 1.5rem; margin-bottom: 1.5rem">{{ printf "<img src=\"%s\" width=\"%d\" height=\"%d\"/>" $img.Permalink $img.Width $img.Height | safeHTML }}</a>
	{{ end }}
	<p>
	  {{ .Summary | plainify }}
	  <span class="readmore"><a href="{{ .Permalink }}">Read more →</a></span>
	</p>
      </div>
    </li>
    {{ end }}
  </ul>

  {{ end }}
