<ul class="menu_open">
<li><a class="menu_item" href="/"><span class="menu_title">Startseite</span></a></li>
<li><a class="menu_item" href="/Artikel/"><span class="menu_title">Artikel</span></a></li>
<li><a class="menu_item" href="/Dokumente/"><span class="menu_title">Dokumente</span></a></li>
<li><a class="menu_item" href="/Programme/"><span class="menu_title">Programme</span></a>
<div class="subitem">
<ul class="menu_open">
  <li><a class="menu_item" href="https://gokrazy.github.io/"><span class="menu_title">gokrazy</span></a></li>
  <li><a class="menu_item" href="https://i3wm.org/"><span class="menu_title">i3</span></a></li>
<li><a class="menu_item" href="https://robustirc.net/"><span class="menu_title">RobustIRC</span></a></li>
<li><a class="menu_item" href="https://www.x11vis.org/"><span class="menu_title">x11vis</span></a></li>
<li><a class="menu_item" href="/c128_kasse"><span class="menu_title">c128_kasse</span></a></li>
</ul>
</div>
</li>

<li><a class="menu_item" href="/Programme/"><span class="menu_title">Debian</span></a>
<div class="subitem">
<ul class="menu_open">
  <li><a class="menu_item" href="https://codesearch.debian.net/"><span class="menu_title">Debian Code Search</span></a></li>
  <li><a class="menu_item" href="https://manpages.debian.org/"><span class="menu_title">manpages.debian.org</span></a></li>
</ul>
</div>
</li>

<li><a class="menu_item" href="/Tipps"><span class="menu_title">Tipps</span></a></li>

<li><a class="menu_item" href="/MeinePCs"><span class="menu_title">Hardware</span></a></li>
<li><a class="menu_item" href="/Impressum"><span class="menu_title">Impressum</span></a></li></ul>
