<ul class="menu_open">
<li><a class="menu_item" href="/"><span class="menu_title">Startseite</span></a></li>
<li><a class="menu_item" href="/Artikel/"><span class="menu_title">Artikel</span></a></li>
<li><a class="menu_item" href="/Dokumente/"><span class="menu_title">Dokumente</span></a></li>
<li><a class="menu_item" href="/Programme/"><span class="menu_title">Programme</span></a>
<div class="subitem">
<ul class="menu_open">
<li><a class="menu_item" href="http://i3wm.org/"><span class="menu_title">i3</span></a></li>
<li><a class="menu_item" href="http://i3wm.org/i3lock"><span class="menu_title">i3lock</span></a></li>
<li><a class="menu_item" href="http://robustirc.net/"><span class="menu_title">RobustIRC</span></a></li>
<li><a class="menu_item" href="http://kanla.zekjur.net/"><span class="menu_title">kanla</span></a></li>
<li><a class="menu_item" href="http://www.x11vis.org/"><span class="menu_title">x11vis</span></a></li>
<li><a class="menu_item" href="http://all-knowing-dns.zekjur.net/"><span class="menu_title">AllKnowingDNS</span></a></li>
<li><a class="menu_item" href="/c128_kasse"><span class="menu_title">c128_kasse</span></a></li>
<li><a class="menu_item" href="/wiipdf"><span class="menu_title">wiipdf</span></a></li>
<li><a class="menu_item" href="/Zettelgetter"><span class="menu_title">Zettelgetter</span></a></li>
</ul>
</div>
</li>
<li><a class="menu_item" href="/Tipps"><span class="menu_title">Tipps</span></a></li>
<li><a class="menu_item" href="/cpan"><span class="menu_title">CPAN</span></a></li>
<li><a class="menu_item" href="http://codesearch.debian.net/"><span class="menu_title">Debian Code Search</span></a></li>
<li><a class="menu_item" href="/UeberMich"><span class="menu_title">Über mich</span></a></li>
<li><a class="menu_item" href="/MeinePCs"><span class="menu_title">Meine PCs</span></a></li>
<li><a class="menu_item" href="/Impressum"><span class="menu_title">Impressum</span></a></li></ul>
