.container-fluid {
    overflow: auto;
    background-color: #f8f8f8;
    display: table;
    width: 100%;
    padding: 0
}

.row {
    display: table-row;
    height: 100%
}

.col-md-2,.col-md-10 {
    display: table-cell;
    float: none;
    vertical-align: top
}

html,body,.container-fluid {
    height: 100%
}

#content {
    margin-top: 1em
}

p,ul,ol {
    text-align: justify
}

img {
    border: 0
}

#menu {
    z-index: 5;
    color: #666;
    margin: 0;
    padding: 0;
    padding-left: 1.5em;
    padding-right: .5em
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 3em
}

#menu ul ul {
    margin-bottom: 0
}

#menu li {
    margin-left: 0;
    margin-bottom: 6px
}

#menu li li {
    margin-left: 1.5em
}

#menu a:link,#menu a:visited {
    text-indent: 0;
    padding: 2px 0 2px 0;
    text-decoration: none;
    display: block
}

.current {
    font-weight: bold
}

#contentBox {
    background-color: #fff;
    z-index: 10;
    line-height: 1.5;
    margin: 0;
    padding-left: 2.5em;
    padding-top: 2.6em;
    padding-right: 2em;
    padding-bottom: 3em;
    box-shadow: -3px 0 3px rgba(213,213,213,0.66);
    -webkit-box-shadow: -3px 0 3px rgba(213,213,213,0.66);
    -moz-box-shadow: -3px 0 3px rgba(213,213,213,0.66)
}

#contentBox p,#contentBox ul,#contentBox ol {
    max-width: 40em
}

#contentBox h2,#contentBox h3,#contentBox h4 {
    max-width: 27em
}

#menu h1,h2,h3,h4,h5,h6 {
    font-family: 'Yanone Kaffeesatz Regular';
    font-weight: bold;
    color: #000;
    letter-spacing: 1px
}

.warning,#ml p {
    border: 2px dashed red;
    padding: 1%
}

.galleryBox {
    float: left;
    width: 150px;
    padding-left: 5%;
    padding-right: 0;
    margin: 0
}

.galleryBox p {
    margin: 0;
    padding-bottom: 0
}

.problemBox {
    margin-right: 2%;
    border: 2px dotted black;
    float: right;
    min-height: 190px;
    min-width: 60%;
    max-width: 60%
}

.galleryItem {
    background-color: #fff;
    float: left;
    margin-left: 5%;
    margin-bottom: 3%;
    padding: 1%;
    position: relative;
    border: 1px solid #c0c0c0
}

.galleryDesc {
    border: 1px dotted black;
    margin-left: 5%
}

.galleryItemDesc {
    margin: 0;
    font-style: italic;
    max-width: 110px
}

.galleryHeader {
    text-align: center;
    font-weight: bold;
    padding: 0;
    margin: 0
}

.bigImage {
    padding-bottom: 5%
}

.bigImage h3 {
    margin: 0;
    border: 2px solid black;
    text-align: center
}

.bigImage p {
    margin: 0;
    border-top: 0;
    border-bottom: 0;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding-top: 1%;
    padding-bottom: 1%
}

.ArticleList {
    list-style: disc;
    list-style-position: outside;
    padding-left: 5%
}

.ArticleList li {
    margin-bottom: 6px
}

.backButton {
    margin: 2px;
    margin-top: 4px;
    padding: 2px;
    float: left
}

.strong {
    font-size: 105%;
    font-weight: bold
}

.linuxcommand {
    font-family: monospace
}

pre.Delphi {
    background-color: #fff;
    color: #000;
    overflow: auto;
    height: 200px;
    border: 1px solid black
}

pre.Delphi span.DelphiComment {
    font-style: italic;
    background-color: transparent;
    color: #000080
}

pre.Delphi span.DelphiDirective {
    font-weight: bold
}

pre.Delphi span.DelphiString,pre.Delphi span.DelphiNumeric {
    background-color: transparent;
    color: #000080
}

pre.Delphi span.CompilerDirective {
    background-color: transparent;
    color: #008000
}

.ExpandSource {
    border: 1px solid black;
    padding: 5px
}

.ExpandSource a:link,.ExpandSource a:visited {
    text-decoration: underline
}

.pictureLink {
    border: 1px solid black;
    background-color: #c0c0c0;
    padding: 5px;
    margin-right: 5px;
    text-align: center
}

.filenameHeader {
    background-color: #c0c0c0;
    border: 1px solid black;
    font-weight: bold
}

.wide_list li {
    margin-bottom: 15px
}

.Artikel pre {
    border: 1px solid #b5b5b5;
    padding: 5px;
    background-color: #eee;
    color: #000;
    overflow: auto;
    width: 45em;
    font-size: 14px
}

.toc {
    color: #000;
    background-color: #fff;
    text-align: left
}

.toc ul {
    margin: 2%
}

.toc .level1 {
    margin-top: 2%;
    margin-bottom: 2%
}

.toc .level2 {
    margin-left: 5%
}

#menu,#menu a:link,#menu a:visited {
    color: #666
}

#menu a:hover {
    color: #000
}

a:link,a:visited {
    text-decoration: underline;
    color: #428442
}

.galleryBox a:link,.galleryBox a:visited,.problemBox a:link,.problemBox a:visited {
    color: #000;
    text-decoration: underline
}

.bigImage h3 {
    background-color: #428442;
    color: #fff
}

.image_description {
    white-space: pre-wrap;
    max-width: 110px
}

.group_pics td {
    vertical-align: top;
    width: 110px
}

.group_pics img {
    border: 1px solid black
}

@media print {
    #menu {
        display: none
    }

    #contentBox {
        background: white;
        width: 100%;
        border: 0
    }
}

.talkthumb img {
    width: 200px;
    float: left;
    margin-right: 2em;
    margin-bottom: 1em;
    border: 1px solid black;
    box-shadow: 1px 2px 5px black;
}

.Artikel table {
    width: 40em
}

span.tag {
    font-size: 90%;
    padding: 3px;
    margin: 3px;
    color: #c7254e;
    background-color: #eee;
    border-radius: 8px
}

span.tag a:link,span.tag a:visited {
    text-decoration: none
}

@media (max-width: 767px) {
    .row {
        display: flex;
        flex-direction: column-reverse;
    }
}

.note,
.warning {
  display: grid;
  grid-template-columns: 20px auto;
  max-width: 40em;
}

.note #exclamation-icon,
.warning #exclamation-icon {
  fill: #0594CB;
  margin-right: 2em;
}

.admonition-content {
  border-left-width: 4px;
  border-left-style: solid;
  border-color: #0594CB;

  display: block;
  margin: 0px;
  padding: .125em 1em;
  margin-left: .5em;
  margin-top: 1em;
  margin-bottom: 1em;
  overflow-x: auto;
  background-color: rgba(0, 0, 0, .05);
}

#content table {
    margin-bottom: 1em;
}

summary {
    display: list-item !important;
}
