{{ define "main" }}
<h1 class="ms_title">Blog Posts tagged {{ .Title | lower }}
  <a href="{{ .Permalink }}feed.xml">
    <img src="{{ "/feed-icon.svg" | relURL }}" style="width: .75em"
	 alt="ATOM feed for posts tagged {{ .Title | urlize }}"
	 title="ATOM feed for posts tagged {{ .Title | urlize }}">
  </a>
</h1>

<div class="Artikel" id="content">
  {{ partial (printf "tags/%s" (.Title | urlize)) . }}
  {{ $pgs := where .Data.Pages "Params.hidden" "ne" "true" }}
  {{ partial "postlist" $pgs }}
</div>
{{ end }}
